<ion-header>
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button 
				defaultHref="/user/home" 
				mode="ios" 
				text="">
			</ion-back-button>
		</ion-buttons>
		<ion-title class="ion-text-center">Menu</ion-title>
	</ion-toolbar>

	<ion-segment
		scrollable
		(ionChange)="segmentChanged($event)"
		[value]="segmentActive">
		<ion-segment-button value="menu">
		  <ion-label>Friends</ion-label>
		</ion-segment-button>

		<ion-segment-button value="enemies">
		  <ion-label>Enemies</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content>

</ion-content>
