// Header
ion-header {
    &.header-md:after {
    --box-shadow: none !important;
      background: #e2e2e2;
      box-shadow: none !important;
      height: 2px;
    }
    ion-toolbar {
        ion-img.img-logo {
            height: 25px;
        }
        ion-buttons {
            ion-back-button {
                --color: #000;
            }
        }
    }
}
// ion-toolbar {
//     --border-color: red;
//     --border-style: solid;
//     --border-width: 1px; 
// }

// Content
ion-content {
    --background: #f9f9f9;
}

// Button
ion-button {
    --border-radius: 5px !important;
    --box-shadow: none;
    font-weight: 600 !important;
    text-transform: none !important;
}

// List
ion-list {
    background: transparent !important;
    ion-list-header {
        --background: none;
        ion-label {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    ion-item.item-card {
        --background: #fff;
        --border-color: #e1e1e1 !important;
        --border-radius: 5px !important;
        --border-style: solid !important;
        --border-width: 1px !important;
        --detail-icon-opacity: 1 !important;
        --padding-start: 10px;
        margin-bottom: 5px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    ion-item.slide-banner-card {
        --background: transparent;
        --inner-padding-end: 0 !important;
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        --padding-top: 0 !important;
        --padding-bottom: 0 !important;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
        ion-slides {
            background: transparent;
            padding: 0 !important;
            ion-slide {
                background: #fff;
                border: 1px solid #e1e1e1 !important;
                border-radius: 5px !important;
                padding: 0 !important;
                margin-right: 10px;
            }
        }
    }
    ion-item.slide-menu-card {
        --background: transparent;
        --inner-padding-end: 0 !important;
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        --padding-top: 0 !important;
        --padding-bottom: 0 !important;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
        
        ion-slides {
            background: transparent;
            padding: 0 !important;

            ion-slide {
                --background: #fff;
                background: #fff;
                // border: 1px solid #e1e1e1 !important;
                border-radius: 5px !important;
                margin-right: 10px;
                padding: 0 !important;
                
                ion-card {
                    --background: transparent;
                    background: transparent;
                    border: 1px solid #e1e1e1 !important;
                    margin: 0;

                    ion-card-header {
                        border-bottom: 1px solid #e1e1e1 !important;
                    }
                }
            }
        }
    }
}

// Tab
ion-tab-button {
    --color-selected: #eb445a;
}

// Footer
ion-footer {
    --background: #f9f9f9;
    background: #f9f9f9;
    padding: 10px !important;
    ion-button {
        --background: #2dd36f !important;
    }
}