ion-textarea {
    --background: #fff !important;
    --border-color: #e1e1e1;
    --padding-start: 10px !important;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 0.85rem !important;
}

ion-textarea.error-active {
    --border-color: #eb445a !important;
    border: 1px solid #eb445a !important;
}