<ion-header mode="ios">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button 
				defaultHref="/user/settings" 
				mode="ios" 
				text="">
			</ion-back-button>
		</ion-buttons>
		<ion-title class="ion-text-center">My Account</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-list>
		<ion-item lines="none" detail class="item-card" (click)="navigatePage('/settings/account-details/')">
			<ion-label>
				<h3>
					{{ user?.name }}
				</h3>
				<p class="hint">
					{{ user?.phone }}
				</p>
				<p class="hint">
					{{ user?.email }}
				</p>
			</ion-label>
		</ion-item>

		<ion-item lines="none" detail class="item-card" (click)="navigatePage('/settings/account-addresses/')">
			<ion-label>
				<h3>
					Saved Address
				</h3>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>